{% extends "base.html" %}

{% block content %}
<div id="app">
    <b-navbar class="is-info">
        <template slot="brand">
            <b-navbar-item href="/">
                <i class="fas fa-graduation-cap">NavBar</i>
            </b-navbar-item>
        </template>
    </b-navbar>
    <p> Response: #{ message }</p>
    <nav class="panel">
        <p class="panel-heading">
            Heroes
        </p>
        <div class="panel-block" v-for="h in heroes">
            <ul>
                <li>Id: #{h.id}</li>
                <li>Name: #{h.name}</li>
                <li>Gender: #{h.gender}</li>
                <li>Movie: #{h.movie}</li>
            </ul>
        </div>
    </nav>
</div>

<script>
app = new Vue({
  el: "#app",
  delimiters: ['#{', '}'],
  created(){
    query = "query{heroes{id,name,gender,movie}}"
    data = {query: query}
    axios.post(
        '/graphql/',
        data
    ).then(
        (response) => {
            this.message = `${response.status} ${response.statusText}`;
            this.heroes = response.data.data.heroes;
        }
    ).catch(
        (error) => {
            this.message = error.message
        }
    )
  },
  data: {
    message: 'body here',
    heroes: []
  }
});

</script>
{% endblock %}